
::ng-deep mat-stepper {
  --mat-stepper-header-icon-foreground-color: var(--pharma-on-primary);
  --mat-stepper-header-selected-state-icon-foreground-color: var(--pharma-on-primary);
  --mat-stepper-header-done-state-icon-foreground-color: var(--pharma-on-primary);
  --mat-stepper-header-edit-state-icon-foreground-color: var(--pharma-on-primary);
}